.wrapper {
    width: 1170px;
    margin: auto;
}
header {
    background: linear-gradient(rgba(0, 6, 187, 0.3), rgba(255, 255, 255, 0.3)) , url(bg.jpg);
    height: 100vh;
    width: auto;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.nav-area {
    float: right;
    list-style: none;
    margin-top: 30px;
}
.nav-area li {
    display: inline-block;
}
.nav-area li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px 20px;
    font-family: Helvetica;
    font-size: 16px;
    text-transform: uppercase;
}
.nav-area li a:hover {
    background: #fff;
    color: rgb(43, 37, 45);
}
.welcome-text {
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 15% 30%;
    text-align: center;
}

.welcome-text h1 { 
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
}

.welcome-text h1 span {
    color: #ffd000;
}

.welcome-text h2 {
    color: #ffffff;
    font-size: 14px;
}

.welcome-text a {
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
}

.welcome-text a2 {
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
}

.welcome-text a:hover {
    background: #fff;
    color: #333;
}


.navigationDesktop {
    background: #fc575e;
}

nav {
    height: 40px;
    width: 560px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

nav a {
    display: block;
    text-decoration: none;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 13pt;
    color: #112233;
}

nav a:hover {
    background: #223433;
    color: #f0f1f5;
}

nav ul {
    list-style: none;
}

nav ul li {
    float: left;
    width: 140px;
    height: 40px;
    line-height: 40px;
    background: #fc575e;
}

nav ul ul li {
    position: relative;
    display: none;
}

nav ul ul ul {
    display: none;
}

nav ul li:hover ul li {
    display: block;
    animation: navmenu 500ms forwards;
}

@keyframes navmenu {
    0% {
        opacity: 0;
        top: 5px;
    }
    100% {
        opacity: 1;
        top: 0px;
    }
}

nav ul ul li:hover ul {
    display: block;
    position: absolute;
    width: 140px;
    left: 140px;
    top: 0px;
}
.logo {
float: left;
}
.logo img {
    height: 70px;
    padding: 20px 50px;
}
* {
    margin: 0;
    padding: 0;
}
* {
    font-family: "Helvetica", Times, serif;
}